<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>
            {% if is_granted('IS_AUTHENTICATED_FULLY') or is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <a href="#">{{ app.user.email }}</a>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('admin_home') }}">Accueil admin</a>
                {% endif %}
                <a href="{{ path('app_logout')}}">Se déconnecter</a>
            {% else %}
                <a href="{{ path('app_login') }}">Connexion</a>
                <a href="{{ path('app_register') }}">S'enregistrer</a>
            {% endif %}
                <a href="{{ path('games_index') }}">Nos produits</a>
                 {{ render_esi(path('category_index')) }}
        </header>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
