{{ form_start(productForm) }}

    {{ form_row(productForm.name) }}
    {{ form_row(productForm.description) }}
    {{ form_row(productForm.price) }}
    {{ form_row(productForm.category) }}
    {{ form_row(productForm.visible) }}
    {{ form_row(productForm.product_detail) }}

    <button class="btn" type="submit">{{ button }}</button>
{{ form_end(productForm) }}